body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-menu .logo {
  margin-right: 76px;
}
.menu-link,
.contacts-link {
  padding: 24px 0;
  display: inline-block;
}
.logo,
.logo:active {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo-text {
  color: #2e2f42;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.menu-link {
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:active,
.menu-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:active,
.contacts-link:focus {
  color: #404bbf;
}

.main-page {
  text-align: center;
  background-color: #2e2f42;
  padding: 188px 0;
}
.main-page-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.main-page-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.main-page-button:hover,
.main-page-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  visibility: hidden;
}

.offers-list {
  display: flex;
  gap: 24px;
}
.offers-item {
  flex-basis: calc((100% - 72px) / 4);
}
.offers-subtitle,
.teams-subtitle,
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.offers-text,
.teams-text,
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.teams {
  background-color: #f4f4fd;
}

.teams-title,
.portfolio-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.teams-list {
  display: flex;
  gap: 24px;
}

.teams-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}

.teams-content {
  padding: 32px 0;
}

.teams-subtitle,
.teams-text {
  text-align: center;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-text {
  color: #f4f4fd;
}
